.custom-snackbar {
  .error-title {
    color: #e00d02;
    font-size: 16px;
  }

  .error-message {
    color: #e00d02;
    font-size: 14px;
  }

  .success-title {
    color: rgb(25, 160, 25);
    font-size: 16px;
  }

  .success-message {
    color: rgb(53, 167, 53);
    font-size: 16px;
  }
}
